<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moita's Server — O Teu Mural</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body style="padding: 20px;">

    <header class="header-container">

        <div style="display: flex; align-items: center;">
            <img src="/static/images/logo.png" alt="Logo" class="girar">
            <h3 class="tagline"><strong>MOITA'S SERVER</strong></h3>
        </div>
            
        <div class="header-actions">
            <a href="/login"><button class="primary">Entrar</button></a>
        </div>

    </header>


    <div class="containers_wrapper">

        <div class="left_side_container">
            <h1>Bem-vindo ao Moita's Server!</h1>
            <p>"The only way to do a great job is to love what you do." - Steve Jobs</p>
            <p id="updates">A carregar...</p>
        </div>

        <div class="right_side_container">
           <h1>Moita's Mural</h1>
            <p id="moral">A carregar...</p>
        </div>
    </div>

    
</body>
<script src="/static/js/landing_page.js"></script>
</html>