<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>


<body class="auth-layout">
  <!-- Painel esquerdo -->
  <aside class="auth-aside">
    <span class="tagline">Moita's<br>Server</span>
    <p>"The only way to do great work is to love what you do."<br> - Steve Jobs</p>
  </aside>

  <!-- Painel direito — formulário -->
  <main class="auth-main">
    <div class="form-container">
      <h2>Login</h2>
      <input type="text" id="username" placeholder="Nome de utilizador">
      <input type="password" id="password" placeholder="Password">


      <p id="erro"></p> 


      <button onclick="fazer_login()">Entrar</button>
      <p><a href="/forgot_password">Esqueceste a palavra-passe?</a></p>
      <p>Sem conta? <a href="/signup">Regista-te</a></p>
    </div>
  </main>
  <script src="static/js/login.js"></script>
</body>

</html>